/*
    Настройки для растягивания контента на всю доступную высоту окна браузера
*/
html,
body {
  height: 100%;
}
body {
  padding-top: 50px;
}
body > div#main-layout,
body > div#main-layout > div[data-ng-include],
body > div#main-layout > div[data-ng-include] > div,
#content,
.mainbar,
.matter,
.container,
.container-fluid,
.row[nv-fill-container] {
  height: 100%;
}
.nv-height100 {
  height: 100%;
}
.row.nv-height100 > div {
  height: 100%;
}
.mainbar {
  min-height: 0;
}
.mainbar .matter {
  overflow: auto;
  padding: 0;
}
.mainbar .matter > .container,
.mainbar .matter > .container-fluid {
  padding: 15px 15px 0;
  margin: 0;
}
.mainbar .matter > .container {
  margin: 0 auto;
}
