/*
    Глобальная настройка стилей кнопок и ссылок кнопочного типа
*/
.panel a.btn-dialog,
.panel button.btn-dialog {
  min-width: 90px;
  margin-left: 4px;
}
.panel a.btn.btn-icon,
.panel button.btn.btn-icon {
  min-width: 0;
  margin-left: 0;
}
.st-table-search .btn.btn-success {
  background: #59e699!important;
}
.st-table-search .btn.btn-success:hover {
  background: #85edb4 !important;
}
