/*
    Глобальная настройка стилей кнопок и ссылок кнопочного типа
*/
.panel {

    a.btn, button.btn {
        min-width: 90px;
        margin-left: 4px;
    }

    a.btn.btn-icon, button.btn.btn-icon {
        min-width: 0;
        margin-left: 0;
    }

}


