body {
  background-color: #333333;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 10pt;
}
.spacer {
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.align-middle {
  display: inline-block;
  vertical-align: middle;
}
.no-margins {
  margin: 0!important;
}
.no-h-margins {
  margin-left: 0!important;
  margin-right: 0!important;
}
.no-v-margins {
  margin-top: 0!important;
  margin-bottom: 0!important;
}
.overflow-x,
[overflow-x] {
  overflow-x: auto;
}
.overflow-y,
[overflow-y] {
  overflow-y: auto;
}
.overflow,
[overflow] {
  overflow: auto;
}
.relative,
[relative] {
  position: relative;
}
.absolute,
[absolute] {
  position: absolute;
}
.nowrap,
[nowrap] {
  white-space: nowrap;
}
.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.truncate-10px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 10px !important;
}
.max-truncate-10px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 10px !important;
}
.truncate-1em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 1em !important;
}
.max-truncate-1em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 1em !important;
}
.truncate-20px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 20px !important;
}
.max-truncate-20px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 20px !important;
}
.truncate-2em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 2em !important;
}
.max-truncate-2em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 2em !important;
}
.truncate-30px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 30px !important;
}
.max-truncate-30px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 30px !important;
}
.truncate-3em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 3em !important;
}
.max-truncate-3em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 3em !important;
}
.truncate-40px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 40px !important;
}
.max-truncate-40px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 40px !important;
}
.truncate-4em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 4em !important;
}
.max-truncate-4em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 4em !important;
}
.truncate-50px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 50px !important;
}
.max-truncate-50px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 50px !important;
}
.truncate-5em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 5em !important;
}
.max-truncate-5em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 5em !important;
}
.truncate-60px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 60px !important;
}
.max-truncate-60px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 60px !important;
}
.truncate-6em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 6em !important;
}
.max-truncate-6em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 6em !important;
}
.truncate-70px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 70px !important;
}
.max-truncate-70px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 70px !important;
}
.truncate-7em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 7em !important;
}
.max-truncate-7em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 7em !important;
}
.truncate-80px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80px !important;
}
.max-truncate-80px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 80px !important;
}
.truncate-8em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 8em !important;
}
.max-truncate-8em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 8em !important;
}
.truncate-90px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 90px !important;
}
.max-truncate-90px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 90px !important;
}
.truncate-9em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 9em !important;
}
.max-truncate-9em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 9em !important;
}
.truncate-100px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100px !important;
}
.max-truncate-100px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100px !important;
}
.truncate-10em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 10em !important;
}
.max-truncate-10em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 10em !important;
}
.truncate-110px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 110px !important;
}
.max-truncate-110px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 110px !important;
}
.truncate-11em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 11em !important;
}
.max-truncate-11em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 11em !important;
}
.truncate-120px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 120px !important;
}
.max-truncate-120px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 120px !important;
}
.truncate-12em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 12em !important;
}
.max-truncate-12em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 12em !important;
}
.truncate-130px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 130px !important;
}
.max-truncate-130px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 130px !important;
}
.truncate-13em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 13em !important;
}
.max-truncate-13em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 13em !important;
}
.truncate-140px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 140px !important;
}
.max-truncate-140px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 140px !important;
}
.truncate-14em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 14em !important;
}
.max-truncate-14em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 14em !important;
}
.truncate-150px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 150px !important;
}
.max-truncate-150px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px !important;
}
.truncate-15em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 15em !important;
}
.max-truncate-15em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 15em !important;
}
.truncate-160px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 160px !important;
}
.max-truncate-160px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 160px !important;
}
.truncate-16em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 16em !important;
}
.max-truncate-16em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 16em !important;
}
.truncate-170px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 170px !important;
}
.max-truncate-170px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 170px !important;
}
.truncate-17em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 17em !important;
}
.max-truncate-17em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 17em !important;
}
.truncate-180px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 180px !important;
}
.max-truncate-180px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 180px !important;
}
.truncate-18em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 18em !important;
}
.max-truncate-18em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 18em !important;
}
.truncate-190px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 190px !important;
}
.max-truncate-190px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 190px !important;
}
.truncate-19em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 19em !important;
}
.max-truncate-19em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 19em !important;
}
.truncate-200px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px !important;
}
.max-truncate-200px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px !important;
}
.truncate-20em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 20em !important;
}
.max-truncate-20em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 20em !important;
}
.truncate-210px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 210px !important;
}
.max-truncate-210px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 210px !important;
}
.truncate-21em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 21em !important;
}
.max-truncate-21em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 21em !important;
}
.truncate-220px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 220px !important;
}
.max-truncate-220px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 220px !important;
}
.truncate-22em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 22em !important;
}
.max-truncate-22em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 22em !important;
}
.truncate-230px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 230px !important;
}
.max-truncate-230px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 230px !important;
}
.truncate-23em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 23em !important;
}
.max-truncate-23em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 23em !important;
}
.truncate-240px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 240px !important;
}
.max-truncate-240px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 240px !important;
}
.truncate-24em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 24em !important;
}
.max-truncate-24em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 24em !important;
}
.truncate-250px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 250px !important;
}
.max-truncate-250px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 250px !important;
}
.truncate-25em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 25em !important;
}
.max-truncate-25em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 25em !important;
}
.truncate-260px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 260px !important;
}
.max-truncate-260px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 260px !important;
}
.truncate-26em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 26em !important;
}
.max-truncate-26em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 26em !important;
}
.truncate-270px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 270px !important;
}
.max-truncate-270px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 270px !important;
}
.truncate-27em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 27em !important;
}
.max-truncate-27em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 27em !important;
}
.truncate-280px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 280px !important;
}
.max-truncate-280px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 280px !important;
}
.truncate-28em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 28em !important;
}
.max-truncate-28em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 28em !important;
}
.truncate-290px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 290px !important;
}
.max-truncate-290px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 290px !important;
}
.truncate-29em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 29em !important;
}
.max-truncate-29em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 29em !important;
}
.truncate-300px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 300px !important;
}
.max-truncate-300px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 300px !important;
}
.truncate-30em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 30em !important;
}
.max-truncate-30em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 30em !important;
}
.truncate-310px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 310px !important;
}
.max-truncate-310px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 310px !important;
}
.truncate-31em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 31em !important;
}
.max-truncate-31em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 31em !important;
}
.truncate-320px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 320px !important;
}
.max-truncate-320px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 320px !important;
}
.truncate-32em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 32em !important;
}
.max-truncate-32em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 32em !important;
}
.truncate-330px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 330px !important;
}
.max-truncate-330px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 330px !important;
}
.truncate-33em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 33em !important;
}
.max-truncate-33em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 33em !important;
}
.truncate-340px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 340px !important;
}
.max-truncate-340px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 340px !important;
}
.truncate-34em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 34em !important;
}
.max-truncate-34em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 34em !important;
}
.truncate-350px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 350px !important;
}
.max-truncate-350px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 350px !important;
}
.truncate-35em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 35em !important;
}
.max-truncate-35em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 35em !important;
}
.truncate-360px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 360px !important;
}
.max-truncate-360px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 360px !important;
}
.truncate-36em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 36em !important;
}
.max-truncate-36em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 36em !important;
}
.truncate-370px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 370px !important;
}
.max-truncate-370px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 370px !important;
}
.truncate-37em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 37em !important;
}
.max-truncate-37em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 37em !important;
}
.truncate-380px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 380px !important;
}
.max-truncate-380px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 380px !important;
}
.truncate-38em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 38em !important;
}
.max-truncate-38em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 38em !important;
}
.truncate-390px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 390px !important;
}
.max-truncate-390px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 390px !important;
}
.truncate-39em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 39em !important;
}
.max-truncate-39em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 39em !important;
}
.truncate-400px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 400px !important;
}
.max-truncate-400px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 400px !important;
}
.truncate-40em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 40em !important;
}
.max-truncate-40em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 40em !important;
}
.truncate-410px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 410px !important;
}
.max-truncate-410px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 410px !important;
}
.truncate-41em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 41em !important;
}
.max-truncate-41em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 41em !important;
}
.truncate-420px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 420px !important;
}
.max-truncate-420px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 420px !important;
}
.truncate-42em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 42em !important;
}
.max-truncate-42em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 42em !important;
}
.truncate-430px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 430px !important;
}
.max-truncate-430px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 430px !important;
}
.truncate-43em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 43em !important;
}
.max-truncate-43em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 43em !important;
}
.truncate-440px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 440px !important;
}
.max-truncate-440px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 440px !important;
}
.truncate-44em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 44em !important;
}
.max-truncate-44em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 44em !important;
}
.truncate-450px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 450px !important;
}
.max-truncate-450px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 450px !important;
}
.truncate-45em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 45em !important;
}
.max-truncate-45em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 45em !important;
}
.truncate-460px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 460px !important;
}
.max-truncate-460px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 460px !important;
}
.truncate-46em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 46em !important;
}
.max-truncate-46em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 46em !important;
}
.truncate-470px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 470px !important;
}
.max-truncate-470px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 470px !important;
}
.truncate-47em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 47em !important;
}
.max-truncate-47em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 47em !important;
}
.truncate-480px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 480px !important;
}
.max-truncate-480px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 480px !important;
}
.truncate-48em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 48em !important;
}
.max-truncate-48em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 48em !important;
}
.truncate-490px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 490px !important;
}
.max-truncate-490px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 490px !important;
}
.truncate-49em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 49em !important;
}
.max-truncate-49em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 49em !important;
}
.truncate-500px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 500px !important;
}
.max-truncate-500px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 500px !important;
}
.truncate-50em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 50em !important;
}
.max-truncate-50em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 50em !important;
}
.truncate-510px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 510px !important;
}
.max-truncate-510px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 510px !important;
}
.truncate-51em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 51em !important;
}
.max-truncate-51em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 51em !important;
}
.truncate-520px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 520px !important;
}
.max-truncate-520px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 520px !important;
}
.truncate-52em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 52em !important;
}
.max-truncate-52em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 52em !important;
}
.truncate-530px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 530px !important;
}
.max-truncate-530px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 530px !important;
}
.truncate-53em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 53em !important;
}
.max-truncate-53em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 53em !important;
}
.truncate-540px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 540px !important;
}
.max-truncate-540px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 540px !important;
}
.truncate-54em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 54em !important;
}
.max-truncate-54em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 54em !important;
}
.truncate-550px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 550px !important;
}
.max-truncate-550px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 550px !important;
}
.truncate-55em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 55em !important;
}
.max-truncate-55em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 55em !important;
}
.truncate-560px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 560px !important;
}
.max-truncate-560px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 560px !important;
}
.truncate-56em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 56em !important;
}
.max-truncate-56em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 56em !important;
}
.truncate-570px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 570px !important;
}
.max-truncate-570px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 570px !important;
}
.truncate-57em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 57em !important;
}
.max-truncate-57em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 57em !important;
}
.truncate-580px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 580px !important;
}
.max-truncate-580px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 580px !important;
}
.truncate-58em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 58em !important;
}
.max-truncate-58em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 58em !important;
}
.truncate-590px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 590px !important;
}
.max-truncate-590px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 590px !important;
}
.truncate-59em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 59em !important;
}
.max-truncate-59em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 59em !important;
}
.truncate-600px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 600px !important;
}
.max-truncate-600px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 600px !important;
}
.truncate-60em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 60em !important;
}
.max-truncate-60em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 60em !important;
}
.truncate-610px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 610px !important;
}
.max-truncate-610px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 610px !important;
}
.truncate-61em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 61em !important;
}
.max-truncate-61em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 61em !important;
}
.truncate-620px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 620px !important;
}
.max-truncate-620px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 620px !important;
}
.truncate-62em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 62em !important;
}
.max-truncate-62em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 62em !important;
}
.truncate-630px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 630px !important;
}
.max-truncate-630px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 630px !important;
}
.truncate-63em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 63em !important;
}
.max-truncate-63em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 63em !important;
}
.truncate-640px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 640px !important;
}
.max-truncate-640px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 640px !important;
}
.truncate-64em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 64em !important;
}
.max-truncate-64em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 64em !important;
}
.truncate-650px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 650px !important;
}
.max-truncate-650px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 650px !important;
}
.truncate-65em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 65em !important;
}
.max-truncate-65em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 65em !important;
}
.truncate-660px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 660px !important;
}
.max-truncate-660px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 660px !important;
}
.truncate-66em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 66em !important;
}
.max-truncate-66em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 66em !important;
}
.truncate-670px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 670px !important;
}
.max-truncate-670px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 670px !important;
}
.truncate-67em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 67em !important;
}
.max-truncate-67em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 67em !important;
}
.truncate-680px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 680px !important;
}
.max-truncate-680px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 680px !important;
}
.truncate-68em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 68em !important;
}
.max-truncate-68em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 68em !important;
}
.truncate-690px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 690px !important;
}
.max-truncate-690px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 690px !important;
}
.truncate-69em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 69em !important;
}
.max-truncate-69em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 69em !important;
}
.truncate-700px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 700px !important;
}
.max-truncate-700px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 700px !important;
}
.truncate-70em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 70em !important;
}
.max-truncate-70em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 70em !important;
}
.truncate-710px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 710px !important;
}
.max-truncate-710px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 710px !important;
}
.truncate-71em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 71em !important;
}
.max-truncate-71em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 71em !important;
}
.truncate-720px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 720px !important;
}
.max-truncate-720px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 720px !important;
}
.truncate-72em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 72em !important;
}
.max-truncate-72em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 72em !important;
}
.truncate-730px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 730px !important;
}
.max-truncate-730px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 730px !important;
}
.truncate-73em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 73em !important;
}
.max-truncate-73em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 73em !important;
}
.truncate-740px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 740px !important;
}
.max-truncate-740px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 740px !important;
}
.truncate-74em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 74em !important;
}
.max-truncate-74em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 74em !important;
}
.truncate-750px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 750px !important;
}
.max-truncate-750px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 750px !important;
}
.truncate-75em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 75em !important;
}
.max-truncate-75em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 75em !important;
}
.truncate-760px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 760px !important;
}
.max-truncate-760px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 760px !important;
}
.truncate-76em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 76em !important;
}
.max-truncate-76em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 76em !important;
}
.truncate-770px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 770px !important;
}
.max-truncate-770px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 770px !important;
}
.truncate-77em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 77em !important;
}
.max-truncate-77em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 77em !important;
}
.truncate-780px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 780px !important;
}
.max-truncate-780px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 780px !important;
}
.truncate-78em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 78em !important;
}
.max-truncate-78em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 78em !important;
}
.truncate-790px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 790px !important;
}
.max-truncate-790px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 790px !important;
}
.truncate-79em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 79em !important;
}
.max-truncate-79em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 79em !important;
}
.truncate-800px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 800px !important;
}
.max-truncate-800px {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 800px !important;
}
.truncate-80em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80em !important;
}
.max-truncate-80em {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 80em !important;
}
.form-group.has-error input.form-control,
.form-group.has-error textarea.form-control {
  position: relative;
}
.form-group.has-error span.red {
  position: absolute;
  margin-top: -6px;
  font-size: smaller;
  font-weight: bolder;
}
span.invalid-control-info {
  color: red;
}
.sam-t-space {
  margin-top: 16px;
}
.sam-b-space {
  margin-bottom: 16px;
}
.sam-v-space {
  margin-top: 16px;
  margin-bottom: 16px;
}
.sam-l-space {
  margin-left: 16px;
}
.sam-r-space {
  margin-right: 16px;
}
.sam-h-space {
  margin-left: 16px;
  margin-right: 16px;
}
label {
  font-size: 14px;
  font-weight: bold;
}
pre.mark {
  padding: 9.5px;
}
