.pre-loader {
  background: #333;
  opacity: 0.7;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 15;
}
.pre-loader .sp {
  width: 48px;
  height: 48px;
  left: 50%;
  position: absolute;
  top: 50%;
  margin-left: -24px;
  margin-top: -24px;
}
@-webkit-keyframes spCircRot {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes spCircRot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.pre-loader .sp-circle {
  border: 4px rgba(255, 255, 255, 0.25) solid;
  border-top: 4px #ffffff solid;
  border-radius: 50%!important;
  -webkit-animation: spCircRot 1s infinite linear;
  animation: spCircRot 1s infinite linear;
}
