<?xml version="1.0"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="BlockViewHandler"/>
            <add name="JavaScript" path="*.js" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
            <add name="TypeScriptScript" path="*.ts" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
            <add name="TypeScriptMap" path="*.js.map" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
            <add name="Less" path="*.less" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
            <add name="CssMap" path="*.css.map" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
            <add name="HtmlMap" path="*.html" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
            <add name="CSS" path="*.css" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
            <add name="png" path="*.png" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
            <add name="ico" path="*.ico" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
            <add name="jpg" path="*.jpg" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
            <add name="jpeg" path="*.jpeg" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
            <add name="svg" path="*.svg" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
            <add name="json" path="*.json" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
            <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler"/>
        </handlers>
        <httpProtocol>
            <!--TODO: Remove this block for production (//TODO: Remove this block for production) -->
            <customHeaders>
                <!--DISABLE CACHE-->
                <add name="Cache-Control" value="no-cache, no-store, must-revalidate"/>
                <add name="Pragma" value="no-cache"/>
                <add name="Expires" value="0"/>
            </customHeaders>
        </httpProtocol>
    </system.webServer>
    <system.web>
        <compilation debug="true"/>
    </system.web>
</configuration>