<h1 translate>Components Examples</h1>
<hr />

<h3>Toasts</h3>
<div class="btn-group">
    <button type="button" class="btn btn-primary" ng-click="$.showToast('alert')">Show alert/info toast</button>
    <button type="button" class="btn btn-success" ng-click="$.showToast('success')">Show success toast</button>
    <button type="button" class="btn btn-warning" ng-click="$.showToast('warning')">Show warning toast</button>
    <button type="button" class="btn btn-danger" ng-click="$.showToast('error')">Show error toast</button>
</div>
<hr />

<div>
    <h3>ui-select directive</h3>
    <a href="https://github.com/angular-ui/ui-select/wiki">Github</a>
</div>
<div class="col-md-3">
    <ui-select ng-model="$.selectedItem">
        <ui-select-match placeholder="placeholder..." allow-clear="false">
            {{$select.selected}}
        </ui-select-match>
        <ui-select-choices repeat="$item in ['Mama', 'Myla', 'Ramu']">
            {{$item}}
        </ui-select-choices>
    </ui-select>
    <span>$.selectedItem: {{$.selectedItem | json}}</span>
</div>

<div class="pull-left">
    <div>
        <h3>sam-date-picker directive</h3>
        <span>based on Bootstrap 3 Date/Time Picker:</span>
        <a href="https://github.com/Eonasdan/bootstrap-datetimepicker">Github</a>    
    </div>
    <div class="col-md-4">
        <input ng-model="$.selectedDate" placeholder="picker with date" sam-date-picker>
        <span>$.selectedDate: {{$.selectedDate | date: 'fullDate'}}</span>
    </div>
    <div class="col-md-4">
        <input ng-model="$.selectedTime" placeholder="picker with time and use-current option" sam-time-picker sam-use-current="true">
        <span>$.selectedTime: {{$.selectedTime | date : 'shortTime'}}</span>
    </div>
    <div class="col-md-4">
        <input ng-model="$.selectedDateTime" placeholder="picker with date and time" sam-date-time-picker>
        <span>$.selectedDateTime: {{$.selectedDateTime | date: 'short'}}</span>
    </div>
</div>
