.modal-content .modal-footer {
  padding: 10px 15px;
  margin-top: 0;
  text-align: right;
  border-top: 1px solid #dddddd;
}
.modal-content .panel {
  margin-bottom: 0;
}
.modal-content .panel-title {
  font-weight: bold;
}
.modal-content button {
  min-width: 90px;
  margin-left: 4px;
}
.modal-content .form-title {
  margin-bottom: 0;
}
