<div class="panel" ng-class="panelClass">
    <div class="panel-heading modal-header">
        <h3 class="panel-title" ng-bind-html="headerContent | translate"></h3>
    </div>

    <div class="panel-body modal-body" ng-bind-html="bodyContent | translate"></div>

    <div class="panel-footer modal-footer">
        <button type="button" class="btn btn-dialog"
                data-ng-click="ok(true)"
                ng-class="yesButtonClass || (hasNoButtonContent || isConfirmDialog || isAskDialog ? 'btn-success' : 'btn-default')"
                ng-show="hasYesButtonContent"
                ng-bind-html="yesButtonContent | translate">
        </button>
        <button type="button"
                class="btn btn-dialog"
                ng-class="noButtonClass || 'btn-danger'"
                data-ng-click="ok(false)"
                ng-show="hasNoButtonContent"
                ng-bind-html="noButtonContent | translate">
        </button>
        <button type="button"
                class="btn btn-dialog"
                data-ng-click="cancel(false)"
                ng-class="cancelButtonClass || (isConfirmDialog ? 'btn-danger' : 'btn-default')"
                ng-show="hasCancelButtonContent"
                ng-bind-html="cancelButtonContent | translate">
        </button>
    </div>
</div>