#login {
  /* checkbox */
}
#login .container-fluid {
  background-color: white;
}
#login .checkbox label {
  padding-left: 0;
}
#login button.btn {
  margin-left: 0;
  width: 100%;
}
#login .form-container {
  max-width: 340px;
  margin: 0 auto;
}
#login .checkbox label:after,
#login .radio label:after {
  content: '';
  display: table;
  clear: both;
}
#login .checkbox .cr,
#login .radio .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
}
#login .radio .cr {
  border-radius: 50%;
}
#login .checkbox .cr .cr-icon,
#login .radio .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%;
}
#login .checkbox label input[type="checkbox"],
#login .radio label input[type="radio"] {
  display: none;
}
#login .checkbox label input[type="checkbox"] + .cr > .cr-icon,
#login .radio label input[type="radio"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all 0.3s ease-in;
}
#login .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
#login .radio label input[type="radio"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}
