<h1 translate>Page1</h1>
<div class="row">

    <div st-table
         st-items-by-page="20"
         sam-st-table="{service: 'samProducts', editTemplate: 'editProduct.html', prepareQuery: $.prepareQuery, prepareEdit: $.prepareEdit}">

        <!-- #region - Title / Search - -->
        <div class="st-table-search">
            <h3>
                <button ng-click="$edit()" class="btn btn-success btn-icon"><i class="fa fa-plus fa-lg nv-l-col"></i></button>
                <span>Products</span>
            </h3>
            <input st-search="name,code" class="form-control" translate translate-attr-placeholder="SEARCH" />
        </div>
        <!-- #endregion -->

        <table>
            <!-- #region - Columns - -->
            <thead>
                <tr>
                    <th class="st-action-buttons"><i class="fa fa-cogs fa-lg"></i></th>
                    <th translate st-sort-default st-sort="id">Id</th>
                    <th translate auto-size st-sort="name">Name</th>
                    <th translate st-sort="code">Code</th>
                    <th translate st-sort="weight">Weight</th>
                    <th translate st-sort="added_at">Creaated</th>
                </tr>
            </thead>
            <!-- #endregion -->
            <!-- #region - Rows - -->
            <tbody>
                <tr ng-repeat="item in $items track by item.id">
                    <td class="st-action-buttons">
                        <button ng-click="$edit(item)" class="btn btn-icon"><i class="fa fa-edit fa-lg blue"></i></button>
                        <button ng-click="$delete(item)" class="btn btn-icon"><i class="fa fa-trash-o fa-lg red"></i></button>
                    </td>
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.code}}</td>
                    <td>{{item.weight}}</td>
                    <td>{{item.added_at | date}}</td>
                </tr>
            </tbody>
            <!-- #endregion -->
        </table>
    </div>
</div>
