<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://46.4.77.204:8888</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>46.4.77.204</MSDeployServiceURL>
    <DeployIisAppPath>sam</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>EV</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ApplicationDb" Order="1" Enabled="False">
          <Destination Path="Data Source=46.4.77.204;Initial Catalog=SAM.DB.Deploy;Persist Security Info=True;User ID=sa;Password=Mr270211;Application Name=SAM.Web" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Sam.DbContext.ApplicationDbContext, Sam" MigrationConfiguration="Sam.DbContext.Configuration, Sam" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ApplicationDb-Web.config Connection String">
      <ParameterValue>Data Source=46.4.77.204;Initial Catalog=SAM.DB.Deploy;Persist Security Info=True;User ID=sa;Password=Mr270211;Application Name=SAM.Web</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>